.banner {
    position: relative;
    width: 100%;
    height: 30vh;
    overflow: hidden;
    background-image: url("https://images.unsplash.com/photo-1507591064344-4c6ce005b128?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}

.banner-content {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    text-align: center;
    font-size: 1.8rem;
}

.banner::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: white;
    border-radius: 100% 100% 0 0;
    z-index: 2;
}

@media (max-width: 768px) {
    .banner {
        margin-top: 20vh;
    }
}