:root{
    --azul: #38419D;
    --azul-oscuro: #200E3A;
    --celeste: #3ABEF9;
    --celeste-claro: #A7E6FF;
}




*, html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Encode Sans Condensed", sans-serif;
    background-color: #f5f5f5;
}

.navbar1 {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    align-content: center;
    background-color: transparent; /* Initial background color */
    transition: background-color 0.3s, backdrop-filter 0.3s, -webkit-backdrop-filter 0.3s;
    z-index: 9999;
}

.navbar1.scrolled {
    background-color: rgba(0, 0, 0, 0.411);
    backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
    -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
}

.navbar-container1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

#logo {
    display: flex;
    align-items: center;
}

#logo img {
    height: 5rem;
    margin-left: 0rem;
    
}

#logo:hover {
    background-color: black;
}

.nav-links {
    gap: 20px !important;
    
}

.containernav {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
}
.nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    transition: 0.3s, color 0.3s;
    font-size: 1.2rem;
}

.nav-links ul { gap: 70px;}


.nav-links a:hover {
    background: var(--celeste-claro);
    border-radius: 10px;
    color: #000;
    height: 35px;
    display: flex;
    align-items: center;

}


.active {
    background-color: var(--celeste-claro) !important;
    border-radius: 10px;
    height: 35px;
    display: flex;
    align-items: center;
}

.custom-burguer{
    background-color: var(--celeste-claro);
    margin-bottom: 1rem;
    
 
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://images.unsplash.com/photo-1565534355217-85fcfb04ce71?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-size: cover;
    z-index: 1;
}

.hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.651); /* Oscurece la imagen */
    z-index: 2;
}

.hero-content {
    position: relative;
    z-index: 3;
    color: white; /* Para asegurar que el texto sea legible */
    font-size: 3vh;
    padding: 20px;
    border-radius: 15px; /* Ajusta el radio del borde según tus preferencias */
}

.hero h1, .hero h2 {
    margin: 0;
    padding: 2vh;
}

.btns{
    padding: 5vh;

}
.seccion1, .seccion2{
    margin-top: 15vh;
    margin-bottom: 15vh;
}

/* CSS */
.button-1 {
  align-items: center;
  background: var(--celeste-claro);
  border: 0 solid #E2E8F0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  color: #000;
  font-size: 1rem;
  font-weight: 700;
  height: 56px;
  justify-content: center;
  line-height: 18px;
  overflow-wrap: break-word;
  padding: 2vh;
  text-decoration: none;
  width: auto;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
  &:hover{
    background-color: var(--celeste);
  }

}
.button-2 {
  align-items: center;
  background: transparent;
  border: 1px solid var(--celeste-claro);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  height: 56px;
  justify-content: center;
  line-height: 24px;
  overflow-wrap: break-word;
  padding: 2vh;
  text-decoration: none;
  width: auto;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
  &:hover{
    background-color: var(--celeste);
  }

}

.ofertas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subscription-form{margin-top: 10rem;}

.subscription-form form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;  
    margin-bottom: 15rem;
    margin-top: 4rem;
}

.divblog {
    padding: 7rem;
}

.herofaqs {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.herofaqs::before {
    content: "";
    position: absolute;
    top: 5rem;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/assets/faqs.jpeg");
    background-position: center;
    background-size: cover;
    z-index: 1;
}

.herofaqs::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Oscurece la imagen */
    z-index: 2;
}

.herofaqs-content {
    position: absolute;
    top: 300px;
    left: 10px;
    z-index: 3;
    color: rgb(255, 255, 255) !important; /* Para asegurar que el texto sea legible */
    font-size: 3vh;
    padding: 20px;
    border-radius: 15px; /* Ajusta el radio del borde según tus preferencias */
}


@media (max-width: 768px) {
    .herofaqs{
        background-color: black;
    }
}

.loli {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;


}

