body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.myv {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1vh 0;
    gap: 20px;
    
}

.heroServicios {
    position: relative;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.heroServicios::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://images.unsplash.com/photo-1599256630445-67b5772b1204?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    z-index: 1;
}

.heroServicios::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65); 
    z-index: 2;
}

.hero-contentServicios {
    position: relative;
    z-index: 3;
    color: white; 
    font-size: 3vh;
    padding: 20px;
    border-radius: 15px; 
    max-width: 90%;
}



.left, .right {
    flex: 1;
}

.right {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.left {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.right .card {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    flex: 1 1 calc(40% - 20px); 
}
.left .card {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    flex: 1 1 calc(40% - 20px);
}

.card h2 {
    font-size: 18px;
    color: #333;
    margin-top: 0;
}

.card p {
    font-size: 18px;
    color: #000;
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .myv{
        padding: 40px 20px;
        margin-top: 10vh;
    }
    .container {
        flex-direction: column;
    }

    .right {
        flex-direction: row;
        width: 100%;
    }

    .right .card {
        flex: 1 100%; 
        max-width: 100%;
        margin-top: 10vh;
    }

}
